<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanArchitecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD102FD92BDDF1C700F93FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD102FEA2BDDF1C800F93FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD102FF42BDDF1C800F93FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
